MahaswetaBhattacharya_Resume 2.log
MahaswetaBhattacharya_Resume.aux
MahaswetaBhattacharya_Resume.fdb_latexmk
MahaswetaBhattacharya_Resume.log
MahaswetaBhattacharya_Resume.out
MahaswetaBhattacharya_Resume.fls
MahaswetaBhattacharya_Resume.synctex.gz